<% keywords = 'ブログ' %>
<% authors = 'kisana.' %>
<% provide(:title, '') %>
<% provide(:author, authors) %>
<% provide(:description, 'BLOG14トップページ') %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, full_url("/")) %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, 'alt') %>
<% provide(:id, 'kisana_me') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>BLOG14</h1>
<h2>おすすめの記事</h2>
<div>
  <% recommended_posts(1).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>
<h2>新着の記事</h2>
<div>
  <% new_posts(5).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>
<h2>○○タグのついた記事</h2>
<div>
  <% recommended_posts(1).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>
<h2>コメントが多い記事</h2>
<div>
  <% recommended_posts(1).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>
<h2>○○が書いた記事</h2>
<div>
  <% recommended_posts(1).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>