<% keywords = '画像一覧' %>
<% authors = '' %>
<% provide(:title, '画像一覧') %>
<% provide(:author, authors) %>
<% provide(:description, '画像一覧') %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'noindex, nofollow') %>
<% provide(:url, full_url("/posts/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>

<h1>画像一覧</h1>
<% @images.each do |image| %>
<div>
  <h2>画像名:<%= image.name %></h2>
  <p>ID:<%= image.aid %></p>
  <p>紹介文:<%= image.description %></p>
  <%= image_tag image_url(aid: image.aid) %>
  <%= link_to('編集', edit_image_path(image.aid)) if image.account == @current_account %>
</div>
<% end %>