<% provide(:title, '画像一覧') %>
<% provide(:layout_style, 'full') %>

<h1>画像一覧</h1>
<% @images.each do |image| %>
<div>
  <h2>画像名:<%= image.name %></h2>
  <p>ID:<%= image.aid %></p>
  <p>紹介文:<%= image.description %></p>
  <%= image_tag(image.image_url) %>
  <%= link_to('編集', edit_image_path(image.aid)) if image.account == @current_account %>
</div>
<% end %>