<%= form_with(scope: :session, url: login_path, data: { turbo: false }) do |f| %>
  <% if @error_message.present? %>
    <div class="alert alert-danger">
      <%= @error_message %>
    </div>
  <% end %>
  <div class="login-inputs">
    <div class="login-input">
      <%= f.label :name_id, 'ID', class: 'login-input-label' %>
      <%= f.text_field :name_id, class: 'login-input-field', placeholder: '', value: @reform.present? ? @reform[:name_id] : '' %>
    </div>
    <div class="login-input">
      <%= f.label :password, 'パスワード', class: 'login-input-label' %>
      <%= f.password_field :password, class: 'login-input-field', placeholder: '', value: @reform.present? ? @reform[:password] : '' %>
    </div>
  </div>
  <%= f.submit "ログイン" %>
<% end %>
<%= link_to "サインアップ", signup_path %>