<% keywords = '' %>
<% authors = '' %>
<% provide(:title, @account.name) %>
<% provide(:author, authors) %>
<% provide(:description, @account.bio) %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'noindex, nofollow') %>
<% provide(:url, full_url("/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1><%= @account.name %></h1>
<div>
  ID:<%= @account.name_id %>
</div>
<div>
  BIO:<%= @account.bio %>
</div>
<% if @current_account == @account %>
<h2>全投稿(下書き含む)</h2>
<% @account.posts.each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>
<% else %>
<h2>投稿(最新10つ)</h2>
<% whos_posts(@account, 10).each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>
<% end %>