<% provide(:title, "筆者紹介 - #{@account.name}") %>
<% provide(:author, @account.name) %>
<% provide(:description, @account.description) %>
<% provide(:keywords, '筆者紹介') %>
<% provide(:image, @account.icon_url) %>
<% provide(:layout_style, 'full') %>

<h1>筆者紹介</h1>
<div class="account-top">
  <div class="account-icon-container">
    <%= image_tag(@account.icon_url, class: 'account-icon', alt: "#{@account.name}のアイコン") %>
  </div>
  <div class="account-name">
    <%= @account.name %>
  </div>
</div>
<div class="account-profile">
  ID:<%= @account.aid %>
  <br />
  紹介文:<%= @account.description %>
</div>
<h2>最新の投稿</h2>
<% whos_posts(@account, 10).each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>