<% provide(:title, "筆者紹介 - #{@account.name}") %>
<% provide(:author, @account.name) %>
<% provide(:description, @account.description) %>
<% provide(:keywords, '筆者紹介') %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, @account.icon_url) %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>筆者紹介</h1>
<div class="account-top">
  <div class="account-icon-container">
    <%= image_tag(@account.icon_url, class: 'account-icon') %>
  </div>
  <div class="account-name">
    <%= @account.name %>
  </div>
</div>
<div class="account-profile">
  ID:<%= @account.aid %>
  <br />
  紹介文:<%= @account.description %>
</div>
<h2>最新の投稿</h2>
<% whos_posts(@account, 10).each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>