<h1>ポスト</h1>
<%= form_with url: admin_update_multiple_posts_path, method: :patch, data: { turbo: false } do %>
  <% @posts.each do |post| %>
    <%= check_box_tag "post_aids[]", post.aid %>
    状:<%= t("activerecord.enums.post.visibility.#{post.visibility}") %>
    <%= render 'posts/show_mini', post: post %>
  <% end %>
  <%= select_tag "visibility", options_for_select(Post.visibilities.keys.map { |key| [t("activerecord.enums.post.visibility.#{key}"), key] }) %>
  <%= submit_tag "更新" %>
<% end %>
