<h1>お問い合わせ <%= @inquiry.aid %></h1>
<div>
  <h2>件名</h2>
  <p><%= @inquiry.subject %></p>
  <p>名前: <%= @inquiry.name %></p>
  <h2>内容</h2>
  <p><%= @inquiry.content %></p>
  <h2>アドレス</h2>
  <p><%= @inquiry.address %></p>
  <h2>管理用</h2>

  <%= form_with(model: @inquiry, url: admin_inquiry_path(@inquiry.aid), method: :patch, data: { turbo: false }) do |f| %>
    <h3>メモ</h3>
    <div>
      <%= f.label :memo, 'メモ' %>
      <%= f.text_area :memo, placeholder: 'メモ' %>
    </div>
    <h3>フラグ</h3>
    <div>
      <%= f.label :done, '済' %>
      <%= f.check_box :done %>
    </div>
    <%= f.submit "更新" %>
  <% end %>
  <div>
</div>