<h1>お問い合わせ <%= @inquiry.aid %></h1>
<div>
  <h2>件名</h2>
  <p><%= @inquiry.subject %></p>
  <p>名前: <%= @inquiry.name %></p>
  <h2>内容</h2>
  <p><%= @inquiry.content %></p>
  <h2>アドレス</h2>
  <p><%= @inquiry.address %></p>
  <h2>メモ</h2>
  <p><%= @inquiry.memo %></p>
</div>