<h1>admin page</h1>
<p>
  <%= @current_account.name %>
  <span>(@<%= @current_account.name_id %>)</span>
  さん、こんにちは。
</p>
<%= link_to('プロフィールを変更', root_path) %>

<h2>お問い合わせ</h2>
<%= link_to('全て確認する', admin_inquiries_path) %>
<h2>コメントを確認</h2>
<%= link_to('未実装', root_path) %>