<h1>Admin Studio</h1>

<%= link_to('accounts', admin_accounts_path) %>

<%= link_to('posts', admin_posts_path) %>

<%= link_to('images', images_path) %>

<%= link_to('tags', admin_tags_path) %>

<%= link_to('comments', admin_comments_path) %>
