<h1>admin page</h1>
<p>
  <%= @current_account.name %>
  <span>(@<%= @current_account.name_id %>)</span>
  さん、こんにちは。
</p>
<%= link_to('プロフィールを変更', root_path) %>

<h2>お問い合わせ</h2>
<%= link_to('もっとみる', root_path) %>
<h2>コメント</h2>
<%= link_to('もっとみる', root_path) %>
<h2>アカウント</h2>
<%= link_to('もっとみる', root_path) %>
<h2>投稿済み</h2>
<%= link_to('もっとみる', root_path) %>
<h2>下書き</h2>
<%= link_to('もっとみる', root_path) %>