<h1>Admin Studio</h1>

<h2>アカウント</h2>
<%= link_to('⭕全て確認する', admin_accounts_path) %>

<h2>セッション</h2>
<%= link_to('❌全て確認する', admin_root_path) %>

<h2>ポスト</h2>
<%= link_to('▲全て確認する', admin_posts_path) %>

<h2>画像</h2>
<%= link_to('❌全て確認する', admin_root_path) %>

<h2>コメント</h2>
<%= link_to('❌全て確認する', admin_root_path) %>

<h2>タグ</h2>
<%= link_to('❌全て確認する', admin_root_path) %>

<h2>ポスト・タグ関連付け</h2>
<%= link_to('❌全て確認する', admin_root_path) %>

<h2>お問い合わせ</h2>
<%= link_to('⭕全て確認する', admin_inquiries_path) %>