<%= form_with(model: tag, url: url, method: method, data: { turbo: false }) do |f| %>
  <%= render 'shared/error_messages', instead: tag %>
  <div class="">
    <div class="">
      <%= f.label :name, '名前' %>
      <%= f.text_field :name, placeholder: '名前' %>
    </div>
    <div class="">
      <%= f.label :name_id, 'ID' %>
      <%= f.text_field :name_id, placeholder: 'ID' %>
    </div>
    <div class="">
      <%= f.label :description, '説明' %>
      <%= f.text_area :description, placeholder: '説明', id: 'my-text-area' %>
    </div>
    <div class="">
      <%= f.label :status, '状態' %>
      <%= f.check_box :deleted %>
    </div>
  </div>
  <%= f.submit "送信" %>
<% end %>

<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
  const easyMDE = new EasyMDE({
    element: document.getElementById("my-text-area"),
    insertTexts: {
      table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
    },
    showIcons: ["code", "horizontal-rule", "table"],
  })
</script>
