<% provide(:title, @tag.name) %>
<% provide(:robots, 'false') %>
<% provide(:description, @tag.description) %>
<% provide(:keywords, @tag.name) %>
<% provide(:layout_style, 'full') %>

<h1>タグ紹介</h1>
<div class="tag-name">
  <%= @tag.name %>
</div>
<div class="tag-info">
  固有ID:<%= @tag.aid %>
  <br />
  ID:<%= @tag.name_id %>
  <br />
  説明:<%= @tag.description %>
</div>
<h2>最新の投稿</h2>
<% @posts.each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>
