<% provide(:title, '') %>
<% provide(:description, 'トップページ') %>
<% provide(:keywords, '') %>
<% provide(:layout_style, 'full') %>

<% if logged_in? %>
<div>
  <%= link_to('スタジオ', studio_path, data: { turbo: false }) %>
  <%= link_to('admin', admin_root_path, data: { turbo: false }) if admin? %>
</div>
<% end %>
<h1>IVECOLOR</h1>
<p>こんにちは！当ブログでは以下のコンテンツを主に扱っています。</p>
<ul>
  <li>WEBプログラミングの知識共有</li>
  <li>マイクラ関連</li>
  <li>スマホやPCとその周辺機器のガジェットを紹介</li>
  <li>TWICEやIVEなどK-POP関連</li>
  <li>映画ドラマ読書アニメなど</li>
</ul>
<p><a href="https://ivecolor.com/posts/ui02q7zbl43snmga5">こちらの記事</a>に、このブログを書いている人のプロフィールを細かく書いています！</p>
<h2>最新の記事</h2>
<div>
  <% new_posts(10).each do |post| %>
    <%= render 'posts/show_mini', post: post %>
  <% end %>
</div>
<%= link_to('もっと見る', posts_path) %>
<h2>旧ブログのアーカイブ</h2>
<div>
  <% tag = Tag.find_by(aid: '4uz2t509khw1idgmj') %>
  <% if tag %>
    <% tags_posts(tag, 10).each do |post| %>
      <%= render 'posts/show_mini', post: post %>
    <% end %>
  <% else %>
    ありません
  <% end %>
</div>
<%= link_to('もっと見る', tag_path('4uz2t509khw1idgmj')) %>
<h2>更新された記事</h2>
<div>
  <% edited_posts(5).each do |post| %>
    <%= render 'posts/show_mini', post: post %>
  <% end %>
</div>