<% provide(:title, 'お問い合わせ完了') %>
<% provide(:description, 'お問い合わせ完了') %>
<% provide(:keywords, '') %>
<% provide(:robots, 'false') %>
<% provide(:layout_style, '') %>
<% provide(:ga4, 'false') %>

<h1>お問い合わせ完了</h1>
<p>以下の内容でお問い合わせが完了しましたことをお知らせいたします。</p>
<p>お手数ですが、お問い合わせ内容をスクリーンショットなどで保存いただくようお願いいたします。</p>

<h2>お問い合わせID</h2>
<p><%= @inquiry.aid %></p>
<h2>件名</h2>
<p><%= @inquiry.subject %></p>
<h2>内容</h2>
<p><%= @inquiry.content %></p>
<h2>お名前</h2>
<p><%= @inquiry.name %></p>
<h2>アドレス</h2>
<p><%= @inquiry.address %></p>
<h2>日時</h2>
<p><%= @inquiry.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>