<div class="comment-form">
  <%= form_with(model: comment, url: url, data: { turbo: false }) do |f| %>
    <%= render 'shared/error_messages', instead: comment %>
    <%= f.hidden_field :post_aid, value: post_aid %>
    <% if (defined? initial_replied) %>
      <div>
        <%= f.hidden_field :replied, value: initial_replied %>
        コメントID:<%= initial_replied %>のスレッドへの返信
      </div>
    <% end %>
    <% if logged_in? %>
      <div><%= @current_account.name %>としてコメント</div>
    <% end %>
    <br />
    <p>お手数ですが、計算問題を解き半角数字で入力してください。</p>
    <p>「*」は掛け算、「/」は割り算です。</p>
    <%= label :test1, :test, @problem %>
    <%= text_field :test1, :test, placeholder: '解答' %>
    <br />
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, placeholder: '名前' %>
    <br />
    <%= f.label :content, 'コメント' %>
    <%= f.text_area :content, placeholder: 'コメント' %>
    <br />
    <%= f.label :address, 'アドレス(非公開)' %>
    <%= f.text_field :address, placeholder: 'アドレス(非公開)' %>
    <br />
    <br />
    <p>投稿すると、当サイトの利用規約・ポリシー・免責事項に同意したとみなされます。</p>
    <p>管理者に承認されると一般掲示されます。</p>
    <%= f.submit "投稿" %>
  <% end %>
</div>