
<% if defined? top %>
<div class="comment">
<% else %>
<div class="reply">
<% end %>
  <div class="comment-info">
    ID:<%= comment.aid %>
    名前:<%= comment.name.present? ? comment.name : '名無し' %>
    日時:<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if defined? top %>
    <% if comment.comments.present? %>
    <details>
      <summary>スレッドを表示</summary>
      <div class="replies">
        <% comment.comments.each do |cmt| %>
          <%= render 'comments/show', comment: cmt %>
        <% end %>
      </div>
    </details>
    <% end %>
    <details>
      <summary>スレッドに参加</summary>
      <%= render 'comments/form', comment: Comment.new, url: comments_path, post_aid: @post.aid, initial_replied: comment.aid %>
    </details>
  <% end %>
</div>