<% if defined? top %>
<div class="comment">
<% else %>
<div class="reply">
<% end %>
  <% if permission %>
    <div>
      <%= form_with(model: comment, url: comment_path(comment.aid), method: :put, data: { turbo: false }) do |f| %>
        <%= f.check_box :public, id: "comment_#{comment.aid}" %>
        <%= f.label comment.aid, "公開" %>
        <%= f.submit "更新" %>
      <% end %>
    </div>
  <% end %>
  <div class="comment-info">
    ID:<%= comment.aid %>
    名前:<%= comment.name.present? ? comment.name : '名無し' %>
    <% if comment.account %>
      (<%= link_to( comment.account.name, account_path(comment.account.aid)) %>)
    <% end %>
    日時:<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if top %>
    <% if permission %>
      <% replies = comment_all_replies(comment) %>
    <% else %>
      <% replies = comment_replies(comment) %>
    <% end %>
    <% if replies.present? %>
    <details>
      <summary>スレッドを表示</summary>
      <div class="replies">
        <% comment.comments.each do |cmt| %>
          <%= render 'comments/show', comment: cmt, top: false, permission: permission %>
        <% end %>
      </div>
    </details>
    <% end %>
    <details>
      <summary>スレッドに参加</summary>
      <%= render 'comments/form', comment: Comment.new, url: comments_path, post_aid: @post.aid, initial_replied: comment.aid %>
    </details>
  <% end %>
</div>