<div class="show-mini-post">
  <%= link_to(post_path(post.aid)) do %>
  <div class="show-mini-post-container">
    <div class="show-mini-post-thumbnail">
      <% if false %>
      <%= image_tag image_path(post.thumbnail) %>
      <% else %>
      <div class="show-mini-post-altspace">
        <div class="show-mini-post-alttext">
          画像なし
        </div>
      </div>
      <% end %>
    </div>
    <div class="show-mini-post-context">
      <div class="show-mini-post-title"><%= post.title.present? ? post.title : 'タイトルなし' %></div>
      <span>
        <% if post.created_at == post.updated_at %>
        公開:<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
        <% else %>
        公開:<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
        更新:<%= post.updated_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
      </span>
    </div>
  </div>
  <% end %>
</div>