<div class="show-mini-post">
  <%= link_to(post_path(post.aid)) do %>
  <div class="show-mini-post-container">
    <div class="show-mini-post-thumbnail">
      <% if post.thumbnail? %>
      <%= image_tag post.thumbnail_url(variant_type: 'tb-images'), alt: "#{post.title}のサムネイル" %>
      <% else %>
      <div class="show-mini-post-altspace">
        <div class="show-mini-post-alttext">
          サムネイル画像なし
        </div>
      </div>
      <% end %>
    </div>
    <div class="show-mini-post-context">
      <div class="show-mini-post-title"><%= post.title.present? ? post.title : 'タイトルなし' %></div>
      <span>
        <% if post.published_at %>
        公開:<%= post.published_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
        <% if post.edited_at %>
        更新:<%= post.edited_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
        <% if defined? show_comments_count %>
        コメント数:<%= post.comments.where(public: false).count %>/<%= post.comments.count %>
        <% end %>
      </span>
    </div>
  </div>
  <% end %>
</div>