<div class="show-post">
  <%= link_to(post_path(post.aid)) do %>
  <div class="show-post-container">
    <div class="show-post-thumbnail">
      <% if post.thumbnail? %>
      <%= image_tag post.thumbnail_url %>
      <% else %>
      <div class="show-post-altspace">
        <div class="show-post-alttext">
          サムネイル画像なし
        </div>
      </div>
      <% end %>
    </div>
    <div class="show-post-context">
      <h2><%= post.title.present? ? post.title : 'タイトルなし' %></h2>
      <p><%= post.summary %></p>
      <span>
        <% if @post.published_at %>
        公開:<%= @post.published_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
        <% if @post.edited_at %>
        更新:<%= @post.edited_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
      </span>
    </div>
  </div>
  <% end %>
</div>