<%= form_with(model: @post, url: p_path, data: { turbo: false }) do |f| %>
  <% if @post.errors.any? %>
    <div>
      <div>エラーが<%= @post.errors.count %>つあります</div>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="login-inputs">
    <div class="login-input">
      <%= f.label :post_id, 'ID', class: 'login-input-label' %>
      <%= f.text_field :post_id, class: 'login-input-field', placeholder: '', value: @reform.present? ? @reform[:post_id] : '' %>
    </div>
    <div class="login-input">
      <%= f.label :title, 'タイトル', class: 'login-input-label' %>
      <%= f.text_field :title, class: 'login-input-field', placeholder: '', value: @reform.present? ? @reform[:title] : '' %>
    </div>
    <div class="login-input">
      <%= f.label :content, '内容', class: 'login-input-label' %>
      <%= f.text_area :content, class: 'login-input-area', placeholder: '', value: @reform.present? ? @reform[:content] : '' %>
    </div>
  </div>
  <%= f.submit "投稿" %>
<% end %>
<%= link_to "ログイン", login_path %>