<% keywords = @post.tags.pluck(:name).join(', ') %>
<% provide(:title, @post.title) %>
<% provide(:author, @post.account.name) %>
<% provide(:description, @post.summary) %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/posts/#{@post.post_name_id}")) %>
<% provide(:type, 'article') # website or article %>
<% provide(:image, full_url("/images/#{@post.thumbnail}")) %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, @post.summary) %>
<% provide(:id, @post.post_name_id) %>

<h1><%= @post.title %></h1>
<div>
  <%= link_to('編集', edit_post_path(@post.post_name_id), data: { turbo: false }) if @post.account == @current_account %>
  <%= toc(@post.content) %>
</div>
<div>
  <%= toc(@post.content) %>
</div>
<div>
  <%= markdown(@post.content) %>
</div>