<% keywords = @post.tags.pluck(:name).join(', ') %>
<% authors = @post.accounts.pluck(:name).join('/') %>
<% provide(:title, @post.title) %>
<% provide(:author, authors) %>
<% provide(:description, @post.summary) %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/posts/#{@post.aid}")) %>
<% provide(:type, 'article') # website or article %>
<% provide(:image, @post.thumbnail_url) %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, @post.summary) %>
<% provide(:id, @post.aid) %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<div class="post">
  <div class="post-thumbnail">
    <% if @post.thumbnail? %>
    <%= image_tag @post.thumbnail_url %>
    <% else %>
    <div class="post-altspace">
      <div class="post-alttext">
        サムネイル画像なし
      </div>
    </div>
    <% end %>
  </div>
  <div class="post-context">
    <h1><%= @post.title.present? ? @post.title : 'タイトルなし' %></h1>
    <p><%= @post.summary %></p>
    <span>
      <% if @post.published_at %>
      公開:<%= @post.published_at.strftime('%Y/%m/%d %H:%M') %>
      <% end %>
      <% if @post.edited_at %>
      更新:<%= @post.edited_at.strftime('%Y/%m/%d %H:%M') %>
      <% end %>
    </span>
    <div>
      作成者:
      <% @post.accounts.each do |account| %>
        <%= link_to(account.name, account_path(account.aid)) %>
      <% end %>
    </div>
    <div>
      タグ:
      <% @post.tags.each do |tag| %>
        <%= link_to(tag.name, tag_path(tag.aid)) %>
      <% end %>
    </div>
    <div class="post-meta">
      <button>共有</button>
      <button>コメント</button>
      <%= link_to('編集', edit_post_path(@post.aid), data: { turbo: false }, method: :get) if @post.accounts.include?(@current_account) %>
    </div>
  </div>
  <div class="post-toc">
    <span>目次</span>
    <% if toc(@post.content).present? %>
      <%= toc(@post.content) %>
    <% else %>
      <span>項目なし</span>
    <% end %>
  </div>
  <div class="post-content">
    <%= markdown(@post.content) %>
  </div>
  <hr class="ending-hr"/>
  <div class="post-comments">
  <%= render 'comments/form', comment: Comment.new, url: comment_path, post_aid: @post.aid %>
  <%= render 'comments/comments', post: @post %>
  </div>
</div>
