<% keywords = @post.tags.pluck(:name).join(', ') %>
<% authors = @post.accounts.pluck(:name).join('/') %>
<% provide(:title, @post.title) %>
<% provide(:author, authors) %>
<% provide(:description, @post.summary) %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/posts/#{@post.post_name_id}")) %>
<% provide(:type, 'article') # website or article %>
<% provide(:image, full_url("/images/#{@post.thumbnail}")) %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, @post.summary) %>
<% provide(:id, @post.post_name_id) %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<div class="post">
  <div class="post-thumbnail">
    <% if @post.thumbnail.present? %>
    <%= image_tag image_path(@post.thumbnail) %>
    <% else %>
    <div class="post-altspace">
      <div class="post-alttext">
        画像なし
      </div>
    </div>
    <% end %>
  </div>
  <div class="post-context">
    <h1><%= @post.title.present? ? @post.title : 'タイトルなし' %></h1>
    <p><%= @post.summary %></p>
    <span>
      <% if @post.created_at == @post.updated_at %>
      公開:<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% else %>
      公開:<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      更新:<%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %>
      <% end %>
    </span>
    <div>
      作成者:
      <% @post.accounts.each do |account| %>
        <%= link_to(account.name, account_path(account.name_id)) %>
      <% end %>
    </div>
    <div>
      タグ:
      <% @post.tags.each do |tag| %>
        <%= link_to(tag.name, tag_path(tag.tag_name_id)) %>
      <% end %>
    </div>
    <div class="post-meta">
      <button>共有</button>
      <button>コメント</button>
      <%= button_to('編集', edit_post_path(@post.post_name_id), data: { turbo: false }, method: :get) if @post.accounts.include?(@current_account) %>
    </div>
  </div>
  <div class="post-toc">
    <span>目次</span>
    <%= toc(@post.content) %>
  </div>
  <div class="post-content">
    <%= markdown(@post.content) %>
  </div>
</div>