<% keywords = @post.tags.pluck(:name).join(', ') %>
<% provide(:title, @post.title) %>
<% provide(:author,  @post.account.name) %>
<% provide(:author_id, @post.account.aid) %>
<% provide(:description, @post.summary) %>
<% provide(:keywords, keywords) %>
<% provide(:robots, @post.public ? '' : 'false') %>
<% provide(:type, 'article') %>
<% provide(:image, @post.thumbnail_url) %>
<% provide(:card, 'summary_large_image') %>
<% provide(:alt, @post.title) %>
<% provide(:layout_style, 'full') %>

<div class="post">
  <% if admin? || current_account?(@post.account) %>
  <div style="color: red;">
    あなたはこの記事の管理者です。
  </div>
  <div>
    閲覧数:
    <%= @post.views_count %>
    <br />
    記事の状態:
    <% if @post.public %>
    公開
    <% elsif @post.unlisted %>
    限定公開
    <% elsif @post.deleted %>
    削除
    <% else %>
    非公開
    <% end %>
    <br />
    総コメント数:
    <%= @post.comments.count %>
    <br />
    <%= link_to('編集', edit_post_path(@post.aid), data: { turbo: false }, method: :get) %>
    <% if admin? %>
      <%= button_to('variants削除', thumbnail_variants_delete_path(@post.aid), data: { turbo: false }, method: :delete) %>
    <% end %>
  </div>
  <% end %>
  <div class="post-thumbnail">
    <% if @post.thumbnail? %>
    <%= image_tag @post.thumbnail_url %>
    <% else %>
    <div class="post-altspace">
      <div class="post-alttext">
        サムネイル画像なし
      </div>
    </div>
    <% end %>
  </div>
  <div class="post-context">
    <h1><%= @post.title.present? ? @post.title : 'タイトルなし' %></h1>
    <p><%= @post.summary %></p>
    <span>
      <% if @post.published_at %>
      公開:
      <time datetime="<%= @post.published_at %>" itemprop="datepublished">
        <%= @post.published_at.strftime('%Y/%m/%d %H:%M') %>
      </time>
      <% end %>
      <% if @post.edited_at %>
      更新:
      <time datetime="<%= @post.edited_at %>" itemprop="datemodified">
        <%= @post.edited_at.strftime('%Y/%m/%d %H:%M') %>
      </time>
      <% end %>
    </span>
    <div class="post-account">
      <%= link_to account_path(@post.account.aid), class: 'post-account-path' do %>
        <div class="post-account-top">
          <div class="post-account-icon-container">
            <%= image_tag(@post.account.icon_url, class: 'post-account-icon') %>
          </div>
          <div class="post-account-name">
            <%= @post.account.name %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="post-tags">
      <% @post.tags.each do |tag| %>
        <%= link_to(tag.name, tag_path(tag.aid), class: 'post-tag') %>
      <% end %>
    </div>
    <div class="post-meta">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">X(旧:Twitter)に共有</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://misskey-hub.net/share/?text=<%= full_title(@post.title) %>&url=<%= full_url("/posts/#{@post.aid}") %>" class="misskey-share-button" target="_blank">Misskeyに共有</a>
    </div>
  </div>
  <% if toc(@post.content).present? %>
    <div class="post-toc">
      <span>目次</span>
        <%= toc(@post.content) %>
    </div>
  <% end %>
  <div class="post-content">
    <%= markdown(@post.content) %>
  </div>
  <div class="post-ending">
    <div class="post-ending-meta">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">X(旧:Twitter)に共有</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://misskey-hub.net/share/?text=<%= full_title(@post.title) %>&url=<%= full_url("/posts/#{@post.aid}") %>" class="misskey-share-button" target="_blank">Misskeyに共有</a>
    </div>
    <hr class="ending-hr"/>
  </div>
  <div class="post-comments">
    <details>
      <summary>コメントを残す</summary>
      <%= render 'comments/form', comment: Comment.new, url: comments_path, post_aid: @post.aid %>
    </details>
    <%= render 'comments/comments', post: @post %>
  </div>
</div>
