<!DOCTYPE html>
<html>
  <head>
    <meta charSet="UTF-8" />
    <title><%= full_title(yield(:title)) %></title>
    <meta name="theme-color" content="#ffa9c7" />
    <meta name="color-scheme" content="light" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content=<%= yield(:author) %> />
    <meta name="generator" content="BLOG14" />
    <meta name="description" content=<%= yield(:description) %> />
    <meta name="keywords" content=<%= yield(:keywords) %> />
    <meta name="robots" content=<%= yield(:robots) %> />
    <meta name="creator" content=<%= yield(:author) %> />
    <meta name="googlebot" content=<%= yield(:robots) %> />
    <meta name="publisher" content=<%= yield(:author) %> />
    <meta name="format-detection" content="email=no,telephone=no,address=no" />
    <meta property="og:url" content=<%= yield(:url) %> />
    <meta property="og:title" content=<%= yield(:title) %> />
    <meta property="og:type" content=<%= yield(:type) %> />
    <meta property="og:description" content=<%= yield(:description) %> />
    <meta property="og:image" content=<%= yield(:image) %> />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content="BLOG14" >
    <meta name="twitter:card" content=<%= yield(:card) %> />
    <meta name="twitter:site" content="BLOG14" />
    <meta name="twitter:site:id" content=<%= yield(:id) %> />
    <meta name="twitter:title" content=<%= yield(:title) %> />
    <meta name="twitter:description" content=<%= yield(:description) %> />
    <meta name="twitter:image" content=<%= yield(:image) %> />
    <meta name="twitter:image:alt" content=<%= yield(:alt) %> />
    <meta name="twitter:creator" content=<%= yield(:author) %> />
    <meta name="twitter:creator:id" content=<%= yield(:id) %> />
    <meta name="google-adsense-account" content="ca-pub-4578343381731958">
    <link rel="icon" href="/blog14.ico" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield(:head) %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if yield(:ga4).present? %>
    <% if Rails.env.production? %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EMJR3TFCRD"></script>
    <% end %>
    <% end %>

  </head>

  <body>
    <header>
      <div class="app-name"><%= link_to(ENV['APP_NAME'], root_path) %></div>
      <nav>
        <%= link_to(posts_path) do %>
          記事一覧
        <% end %>
        <%= link_to(tags_path) do %>
          タグ一覧
        <% end %>
      </nav>
    </header>
    <main class="wf-roundedmplus1c">
      <div class="main-container">
        <%= yield %>
      </div>
      <% if yield(:layout_style) == 'full'%>
      <div class="sub-container">
        <div class="sub-content">
          <h3>おすすめの記事</h3>
          <% recommended_posts(5).each do |post| %>
            <%= render 'posts/show_mini', post: post %>
          <% end %>
        </div>
      </div>
      <% end %>
    </main>
    <% flash.each do |message_type, message| %>
      <div class="flash <%= message_type %>"><%= message %></div>
    <% end %>
    <footer>
        <div class="footer-app-name">
        <%= link_to(ENV['APP_NAME'], root_path) %>
        </div>
        <div class="footer-links">
          <ul>
            <li><%= link_to('利用規約', terms_path) %></li>
            <li><%= link_to('ポリシー', policy_path) %></li>
            <li><%= link_to('免責事項', disclaimer_path) %></li>
          <ul>
        </div>
        <div class="footer-actions">
          <ul>
            <li><%= link_to('お問い合わせ', contact_path) %></li>
            <% if logged_in? %>
            <li><%= link_to('プロフ編集', edit_account_path(@current_account.name_id)) %></li>
            <li><%= button_to("ログアウト", logout_path, method: :delete) %></li>
            <% end %>
          </ul>
        </div>
    </footer>
  </body>
</html>
