<!DOCTYPE html>
<html>
  <head>
    <meta charSet="UTF-8" />
    <title><%= full_title(yield(:title)) %></title>
    <% site_name = ENV['APP_NAME'] %>
    <% author = yield(:author).present? ? yield(:author) : ENV['AUTHOR_NAME'] %>
    <% author_id = yield(:author_id).present? ? yield(:author_id) : ENV['AUTHOR_ID'] %>
    <% type = yield(:type).present? ? yield(:type) : 'website' # website or article %>
    <% robots = yield(:robots).present? ? 'noindex, nofollow' : 'index, follow' %>
    <% image = yield(:image).present? ? yield(:image) : '/image' %>
    <% alt = yield(:alt).present? ? yield(:alt) : 'サイトの画像' %>
    <% card = yield(:card).present? ? yield(:card) : 'summary' # summary, summary_large_image, app, player %>
    <meta name="theme-color" content="#ffa9c7" />
    <meta name="color-scheme" content="light" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="<%= author %>" />
    <meta name="generator" content="<%= site_name %>" />
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= yield(:keywords) %>" />
    <meta name="robots" content="<%= robots %>" />
    <meta name="creator" content="<%= author %>" />
    <meta name="googlebot" content="<%= robots %>" />
    <meta name="publisher" content="<%= author %>" />
    <meta name="format-detection" content="email=no,telephone=no,address=no" />
    <meta property="og:url" content="<%= request.path %>" />
    <meta property="og:title" content="<%= yield(:title) %>" />
    <meta property="og:type" content="<%= type %>" />
    <meta property="og:description" content="<%= yield(:description) %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content="<%= site_name %>" >
    <meta name="twitter:card" content="<%= card %>" />
    <meta name="twitter:site" content="<%= site_name %>" />
    <meta name="twitter:site:id" content="<%= author_id %>" />
    <meta name="twitter:title" content="<%= yield(:title) %>" />
    <meta name="twitter:description" content="<%= yield(:description) %>" />
    <meta name="twitter:image" content="<%= image %>" />
    <meta name="twitter:image:alt" content="<%= alt %>" />
    <meta name="twitter:creator" content="<%= author %>" />
    <meta name="twitter:creator:id" content="<%= author_id %>" />
    <meta name="google-adsense-account" content="ca-pub-4578343381731958">
    <link rel="icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield(:head) %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if @current_account.nil? && yield(:ga4).blank? && Rails.env.production? %>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4578343381731958"
      crossorigin="anonymous"></script>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-EMJR3TFCRD"></script>
    <% end %>

  </head>

  <body>
    <header>
      <div class="app-name"><%= link_to(ENV['APP_NAME'], root_path) %></div>
      <nav>
        <div class="nav-link">
          <%= link_to('記事', posts_path) %>
        </div>
        <div class="nav-link">
          <%= link_to('筆者', accounts_path) %>
        </div>
        <div class="nav-link">
          <%= link_to('タグ', tags_path) %>
        </div>
      </nav>
    </header>
    <main class="wf-roundedmplus1c">
      <div class="main-container">
        <%= yield %>
      </div>
      <% if yield(:layout_style) == 'full'%>
      <div class="sub-container">
        <div class="sub-content">
          <h3>おすすめの記事</h3>
          <% recommended_posts(5).each do |post| %>
            <%= render 'posts/show_mini', post: post %>
          <% end %>
          <h3>新着の記事</h3>
          <% new_posts(5).each do |post| %>
            <%= render 'posts/show_mini', post: post %>
          <% end %>
          <% if @post %>
            <h3>筆者</h3>
            <div class="post-account">
              <%= link_to account_path(@post.account.aid), class: 'post-account-path' do %>
                <div class="post-account-top">
                  <div class="post-account-icon-container">
                    <%= image_tag(@post.account.icon_url, class: 'post-account-icon') %>
                  </div>
                  <div class="post-account-name">
                    <%= @post.account.name %>
                  </div>
                </div>
              <% end %>
            </div>
            <div>
              <%= @post.account.description %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </main>
    <% flash.each do |message_type, message| %>
      <div class="flash <%= message_type %>"><%= message %></div>
    <% end %>
    <footer>
        <div class="footer-app-name">
        <%= link_to(ENV['APP_NAME'], root_path) %>
        </div>
        <div class="footer-links">
          <ul>
            <li><%= link_to('利用規約', terms_path) %></li>
            <li><%= link_to('プライバシーポリシー', privacy_path) %></li>
          <ul>
        </div>
        <div class="footer-actions">
          <ul>
            <li><%= link_to('お問い合わせ', contact_path) %></li>
            <li><%= link_to('サイトマップ', sitemap_path) %></li>
            <li><%= link_to('管理者', accounts_path) %></li>
          </ul>
        </div>
    </footer>
  </body>
</html>
