<% provide(:title, 'Studio') %>
<% provide(:layout_style, '') %>

<h1>Studio</h1>
<%= link_to('記事を新規作成', new_post_path, data: { turbo: false }) %>
<%= link_to('プロフィール', account_path(@current_account.aid)) %>
<%= button_to("ログアウト", logout_path, method: :delete) %>
<h2>非公開</h2>
<% @private_posts.each do |post| %>
  <%= render 'posts/show_mini', post: post %>
<% end %>
<h2>限定公開</h2>
<% @unlisted_posts.each do |post| %>
  <%= render 'posts/show_mini', post: post %>
<% end %>
<h2>削除済み</h2>
<% @deleted_posts.each do |post| %>
  <%= render 'posts/show_mini', post: post %>
<% end %>